//For use with content-full
.card-stack {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

$poll-answer-height: 125px;
$poll-answer-bottom-margin: 20px;

$poll-answer-skip-size: 60%;
$poll-answer-flag-size: 30%;

$poll-answer-main-circle: $poll-answer-height - $poll-answer-bottom-margin;
$poll-answer-skip-circle: ($poll-answer-height - $poll-answer-bottom-margin - 15px) * $poll-answer-skip-size/100%;
$poll-answer-flag-circle: ($poll-answer-height - $poll-answer-bottom-margin - 15px) * $poll-answer-flag-size/100%;

$darken-perc: 15%;

.vote-card {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgb(200, 200, 200);
  position: absolute;
}

.poll-question-container {
  position: absolute;
  top: 0;
  bottom: $poll-answer-height;
  width: 100%;
  .poll-question-content {
    @include vertical-center-parent();
    height: 100%;
  }
  .poll-question {
    @include vertical-center();
    text-align: center;
    font-size: 24px;
    color: $royal;
    word-wrap: break-word;
    width: 100%;
    padding: 0 15px;
  }
}

.poll-creator-username{
  font-size: 10px;
  top: 5px;
  right: 10px;
  position: absolute;
  z-index: 10000;
}

.poll-answer-container {
  position: absolute;
  height: $poll-answer-height;
  bottom: 0;
  width: 100%;
}

.poll-answer-content {
  margin: 0 auto;
  display: table;
  height: inherit;
}

.poll-answer-item {
  height: inherit;
  padding: 0;
  float: left;
}

.poll-answer-button {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;

  display: block;
  cursor: pointer;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
  @include vertical-center-parent();

  .poll-answer-button-text {
    padding: 0 5px;
    display: block;
    @include vertical-center();
    text-align: center;
  }
}

.poll-answer-button-right {
  width: $poll-answer-main-circle;
  height: $poll-answer-main-circle;
  float: left;
  margin-left: 20px;


  .poll-answer-button {
    color: white;
    font-size: 16px;
    background-color: $poll-answer-right-color;
    &.active, &.activated {
      background-color: darken($poll-answer-right-color, $darken-perc);
    }
  }

}
.poll-answer-button-left {
  width: $poll-answer-main-circle;
  height: $poll-answer-main-circle;
  float: right;
  margin-right: 20px;

  .poll-answer-button {
    color: white;
    font-size: 16px;
    background-color: $poll-answer-left-color;
    &.active, &.activated {
      background-color: darken($poll-answer-left-color, $darken-perc);
    }
  }
}

.poll-answer-button-skip {
  width: $poll-answer-skip-circle;
  height: $poll-answer-skip-circle;
  margin: 5px auto 10px;

  .poll-answer-button {
    color: $dark;
    font-size: 14px;
    background-color: $stable;
    border: 1px solid darken($stable, $darken-perc);
    &.active, &.activated {
      background-color: darken($stable, $darken-perc);
    }
  }
}

.poll-answer-button-flag {
  width: $poll-answer-flag-circle;
  height: $poll-answer-flag-circle;
  margin: 0 auto;

  .poll-answer-button {
    color: $assertive;
    font-size: 18px;
    background-color: $light;
    border: 1px solid darken($light, $darken-perc);
    &.active, &.activated {
      border-color: lighten($assertive, 20%);
      background-color: lighten($assertive, 20%);
    }
  }
}

$results-card-button-height: 50px;
$results-card-button-vertical-margin-top: 0px;
$results-card-button-vertical-margin-bottom: 25px;
$results-card-button-height-total: $results-card-button-height + $results-card-button-vertical-margin-top + $results-card-button-vertical-margin-bottom;

.results-card-button {
  position: absolute;
  bottom: 0;
  height: $results-card-button-height-total;
  left: 10px;
  right: 10px;

  .button {
    height: $results-card-button-height;
    margin-top: $results-card-button-vertical-margin-top;
    margin-bottom: $results-card-button-vertical-margin-bottom;
  }
}

.results-card-content {
  position: absolute;
  top: 0;
  bottom: $results-card-button-height-total;
  left: 10px;
  right: 10px;
}