//Ionic Color Defaults
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$calm:                            #11c1f3 !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$dark:                            #444 !default;

//Color Overrides
$royal: #663399 !default;
$positive:                        #C6471C !default;
$balanced:                        #117B70 !default;
$poll-answer-left-color: $positive;
$poll-answer-right-color: $balanced;

//Constants
$safe-height: 400px;