.text-muted {
  color: #999999
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: .9em;
}

//Sets up container for a full page
//Must be used with <ion-content scroll=false>
.content-full {
  height: 100%;
  position: relative;
}

@mixin vertical-center() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin vertical-center-parent(){
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.content-center-child {
  display: table-cell;
  vertical-align: middle;
}

.break-word {
  word-wrap: break-word;
}

.tally-nav-bar {
  border-color: $royal !important;
  border-bottom-width: 2px;

  .tally-logo {
    height: 40px;
  }
}

.tally-side-logo {
  height: 40px;
  padding: 10px 0;
}