$logo-container-height: 50%;
$horiz-margin: 20px;
$bottom-margin: 30px;

.intro-logo-container {
  position: absolute;
  top: 0;
  height: 100% - $logo-container-height;

  left: $horiz-margin;
  right: $horiz-margin;
  @include vertical-center-parent();

  .logo {
    display: block;
    margin: 0 auto;
    @include vertical-center();
    max-width: 55%;
  }
}

.intro-description-container {
  position: absolute;
  top: 100% - $logo-container-height;
  bottom: $bottom-margin;
  left: $horiz-margin;
  right: $horiz-margin;
  text-align: center;
}

.intro-description {
  font-size: 24px;
  margin-bottom: 15px;

  .small {
    padding-top: 20px;
    font-size: 18px;
  }
}
