$logo-container-height: 50%;
$horiz-margin: 20px;
$bottom-margin: 30px;

.intro-logo-container {
  position: absolute;
  top: 0;
  height: 100% - $logo-container-height;

  left: $horiz-margin;
  right: $horiz-margin;
  @include vertical-center-parent();

  .logo {
    display: block;
    margin: 0 auto;
    @include vertical-center();
    max-width: 55%;
  }
}

.intro-description-container {
  position: absolute;
  top: 100% - $logo-container-height;
  bottom: $bottom-margin;
  left: $horiz-margin;
  right: $horiz-margin;
  text-align: center;
}

.intro-description {
  font-size: 24px;
  margin-bottom: 15px;

  .small {
    padding-top: 20px;
    font-size: 18px;
  }
}


$help-title-height: 10%;
$help-answer-main-height: 32.5%;
$help-answer-skip-height: 25%;
$help-answer-flag-height: 15%;
$help-answer-footer-height: 100%-$help-title-height - $help-answer-main-height - $help-answer-skip-height - $help-answer-flag-height;

@mixin help-width() {
  left: 20px;
  right: 20px;
}

.help-title {
  position: absolute;
  top: 0;
  height: $help-title-height;
  @include help-width();
  @include vertical-center-parent();

  h2 {
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.help-answer-main {
  position: absolute;
  top: $help-title-height;
  height: $help-answer-main-height;
  @include help-width();
  @include vertical-center-parent()
}

.help-answer-skip {
  position: absolute;
  top: $help-title-height + $help-answer-main-height;
  height: $help-answer-skip-height;
  @include help-width();
  @include vertical-center-parent()
}

.help-answer-flag {
  position: absolute;
  top: $help-title-height + $help-answer-main-height + $help-answer-skip-height;
  height: $help-answer-flag-height;
  @include help-width();
  @include vertical-center-parent()
}

.help-footer {
  position: absolute;
  bottom: 0;
  height: $help-answer-footer-height;
  @include help-width();
  @include vertical-center-parent()
}

.terms {
  height: 200px;
}