$logo-container-height: 60%;

.intro-logo-container {
  position: absolute;
  top: 0;
  height: $logo-container-height;
  width: 100%;
  @include vertical-center-parent();

  .logo {
    display: block;
    margin: 0 auto;
    @include vertical-center();
    max-width: 55%;
  }
}

.intro-description-container {
  position: absolute;
  bottom: 0;
  height: 100% - $logo-container-height;
  width: 100%;
  text-align: center;
}

.intro-description {
  font-size: 24px;
  margin-bottom: 15px;

  .small {
    padding-top: 20px;
    font-size: 18px;
  }
}