<ion-view title="Ask a Question">
    <ion-content>
        <div class="list">
            <div class="bar bar-header bar-assertive item" ng-show="form_data.error">
                <h2 class="title">{{form_data.error}}</h2>
            </div>
            <label class="item item-input">
                <textarea b-maxlength="maxQuestionLength" ng-model="form_data.question" placeholder='Enter Your Question - Make sure to phrase it as a "Yes/No" question.'></textarea>
            </label>
            <p class="text-right text-muted">{{maxQuestionLength - form_data.question.length}}</p>

        </div>

        <div class="list">
            <div class="item item-divider">
                Close Poll After
            </div>
            <label class="item item-radio" ng-repeat="opt in close_options">
                <input type="radio" name="group" ng-value="opt.value" ng-model="form_data.close_opt">
                <div class="item-content">
                    {{opt.title}}
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>

        <button class="button button-block button-positive" ng-click="done()">Create Ballot</button>
    </ion-content>
</ion-view>