<ion-view>
    <ion-content>
        <ion-nav-buttons side="right">
            <button type="submit" class="button button-clear button-royal" ng-click="done($event)"
                    busy-button="Saving..." busy-id="busy_id">Done</button>
        </ion-nav-buttons>
        <div class="bar bar-header bar-assertive item" ng-show="form_data.error">
            <h2 class="title">{{form_data.error}}</h2>
        </div>

        <form>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label text-muted">Question <small>({{maxQuestionLength -
                        form_data.question.length}})
                    </small></span>
                    <textarea b-maxlength="maxQuestionLength" ng-model="form_data.question" rows="5"
                              no-carriage-return=""></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label text-muted">Left Answer Option <small>({{maxAnswerLength -
                        form_data.left_answer.length}})
                    </small></span>
                    <input type="text" ng-model="form_data.left_answer" b-maxlength="maxAnswerLength">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label text-muted">Right Answer Option <small>({{maxAnswerLength -
                        form_data.right_answer.length}})
                    </small></span>
                    <input type="text" ng-model="form_data.right_answer" b-maxlength="maxAnswerLength">
                </label>
            </div>
            <div class="padding">
            <button type="submit" class="button button-block button-royal" ng-click="done($event)"
                   busy-button="Saving..." busy-id="busy_id">Create Poll</button>
            </div>
        </form>

    </ion-content>
</ion-view>