<ion-view>
    <ion-content>
        <ion-nav-buttons side="right">
            <button class="button button-royal button-clear icon ion-plus-circled" ui-sref="create_ballot">
            </button>
        </ion-nav-buttons>
        <div ng-hide="ballots.length || !loaded" class="padding">
            <div class="vertical-center-parent safe-height">
                <div class="vertical-center text-center">
                    <h3 class="text-muted">You haven't asked any questions yet.</h3>
                    <button class="button button-royal button-block" ui-sref="create_ballot" style="margin-top: 100px">Ask a Question</button>
                </div>
            </div>
        </div>
        <ion-list>
            <a class="item item-button-right" ng-repeat="ballot in ballots" ui-sref="ballot({ballot_id: ballot.getId()})">
                {{ballot.get('question')}}
                <p class="text-small">
                    <span ng-if="!ballot.get('closed')" class="text-muted">Created <span am-time-ago="ballot.get('created_at')"></span></span>
                    <span ng-if="ballot.get('closed')" class="assertive">Closed by community as inappropriate</span>
                </p>
            </a>
            <ion-infinite-scroll on-infinite="getMore()" distance="10%" ng-if="hasMore"></ion-infinite-scroll>
        </ion-list>
    </ion-content>
</ion-view>