<div class="vote-card-question">
    <h2 class="poll-question">{{ballot.get('question')}}</h2>
</div>
<div class="vote-card-action">
    <div class="row vote-card-button-row">
        <div class="col vote-card-button-col">
            <div class="button-positive button vote-card-button button-full"
                 ng-click="action(responseType.LEFT_RESPONSE)">
                <p class="vote-card-button-text">{{ballot.getAnswerTitle(responseType.LEFT_RESPONSE)}}</p>
                <span class="vote-card-button-icon icon ion-ios7-arrow-back"></span>
            </div>
        </div>
        <div class="col vote-card-button-col">
            <div class="button-balanced button button-full vote-card-button"
                 ng-click="action(responseType.RIGHT_RESPONSE)">
                <p class="vote-card-button-text">{{ballot.getAnswerTitle(responseType.RIGHT_RESPONSE)}}</p>
                <span class="vote-card-button-icon icon ion-ios7-arrow-forward"></span>
            </div>
        </div>
    </div>
</div>
<div class="vote-card-footer">
    <div class="content-center-parent">
        <div class="content-center-child">
            <div class="row" style="padding:0">
                <div class="col">
                    <button class="button button-clear button-small button-stable" ng-click="action(responseType.SKIP)">
                        Skip
                    </button>
                </div>
                <div class="col">
                    <button class="button button-clear button-small button-assertive"
                            ng-click="action(responseType.FLAG)">Flag
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>