<div class="vote-card-question">
    <div class="content-center-parent">
        <div class="content-center-child">
            <h2 style="font-size: 18px">{{ballot.get('question')}}</h2>
        </div>
    </div>
</div>
<div class="vote-card-action">

    <div class="button-bar">
        <button class="button-positive button icon ion-ios7-arrow-back icon-left"
                ng-click="action(responseType.LEFT_RESPONSE)">
            {{ballot.getAnswerTitle(responseType.LEFT_RESPONSE)}}
        </button>


        <button class="button-balanced button icon ion-ios7-arrow-forward icon-right"
                ng-click="action(responseType.RIGHT_RESPONSE)">
            {{ballot.getAnswerTitle(responseType.RIGHT_RESPONSE)}}
        </button>
    </div>

</div>
<div class="vote-card-footer">
    <div class="content-center-parent">
        <div class="content-center-child">
            <div class="row" style="padding:0">
                <div class="col">
                    <button class="button button-clear button-small button-dark" ng-click="action(responseType.SKIP)">
                        Skip
                    </button>
                </div>
                <div class="col">
                    <button class="button button-clear button-small button-assertive"
                            ng-click="action(responseType.FLAG)">Flag
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>