<div ng-controller="introController">
    <div ng-if="currentPage === pages.INTRO">
        <ion-content scroll="false">
            <div class="full-page">
                <div class="intro-logo-container">
                    <img class="logo" src="images/title-large.png">
                </div>
                <div class="intro-description-container">
                    <div class="intro-description">
                        <p>Ask and answer anonymously.</p>

                        <p>All in your trusted groups.</p>

                        <p class="small">(We honestly have no idea who you are and will never know!)</p>
                    </div>
                    <div class="padding">
                        <button class="button button-royal button-large button-block" ng-click="next()">Continue
                        </button>
                    </div>
                </div>
            </div>
        </ion-content>
    </div>
    <div ng-if="currentPage === pages.HELP">
        <ion-content scroll="false">
            <div class="full-page">
                <div class="help-title">
                    <h2 class="text-center" style="margin-top: 30px">How to Vote</h2>
                </div>
                <div class="help-answer-main">
                    <div class="vertical-center">
                        <div class="center-table">
                            <div class="poll-answer-item">
                                <div class="poll-answer-button-left">
                                    <a class="poll-answer-button"><span
                                            class="poll-answer-button-text">No</span></a>
                                </div>
                            </div>
                            <div class="poll-answer-item">
                                <div class="poll-answer-button-right">
                                    <a class="poll-answer-button"><span
                                            class="poll-answer-button-text">Yes</span></a>
                                </div>
                            </div>
                        </div>
                        <h4 class="text-center">Swipe left/right or tap to vote</h4>
                    </div>
                </div>
                <div class="help-answer-skip">

                    <div class="center-table">
                        <div class="poll-answer-item">
                            <div class="poll-answer-button-skip">
                                <a class="poll-answer-button"><span
                                        class="poll-answer-button-text">Skip</span></a>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center">Skip a question but you'll never see it again</h5>

                </div>
                <div class="help-answer-flag">

                    <div class="center-table">
                        <div class="poll-answer-item">
                            <div class="poll-answer-button-flag">
                                <a class="poll-answer-button"><span
                                        class="poll-answer-button-text icon ion-ios7-flag"></span></a>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center">Flag to report inappropriate content</h5>

                </div>
                <div class="help-footer">
                    <button class="button button-block button-royal button-large" ng-click="next()">Continue
                    </button>
                </div>

            </div>
        </ion-content>
    </div>
    <div ng-if="currentPage === pages.TERMS">
        <ion-content class="padding">
            <h3 style="margin-top: 20px">Community Rules</h3>
            <div ng-include="'app/intro/community-rules.html'"></div>

            <h3 style="margin-top: 20px" >Terms of Use</h3>
            <ion-scroll class="card terms item item-text-wrap">
                <div class="padding-vertical" ng-include="'app/intro/terms.html'"></div>
            </ion-scroll>

            <ul class="list" style="margin-top: 20px">
                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox checkbox-balanced">
                        <input type="checkbox" ng-model="agreedTo.terms">
                    </label>
                    <span>I have read and agree to abide by the <strong>Community Rules</strong> and <strong>Terms of Use</strong></span>
                </li>
            </ul>

            <button class="button button-block button-royal button-large" ng-click="next()" ng-disabled="!agreedTo.terms">Start Voting!</button>
        </ion-content>
    </div>
</div>