.text-muted {
  color: #999999; }

.text-center {
  text-align: center; }

.text-small {
  font-size: 0.9em; }

.content-full {
  height: 100%;
  position: relative; }

.full-page {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.vertical-center-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.break-word {
  word-wrap: break-word; }

.tally-nav-bar {
  border-color: #663399 !important;
  border-bottom-width: 2px; }
  .tally-nav-bar .tally-logo {
    height: 40px; }

.tally-side-logo {
  height: 40px;
  padding: 10px 0; }

.safe-height {
  height: 400px; }

.card-stack {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.vote-card {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #c8c8c8;
  position: absolute; }

.poll-question-container {
  position: absolute;
  top: 0;
  bottom: 125px;
  width: 100%; }
  .poll-question-container .poll-question-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%; }
  .poll-question-container .poll-question {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-size: 24px;
    color: #663399;
    word-wrap: break-word;
    width: 100%; }

.poll-answer-container {
  position: absolute;
  height: 125px;
  bottom: 0;
  width: 100%; }
  .poll-answer-container .poll-answer-content {
    margin: 0 auto;
    display: table;
    height: inherit; }
  .poll-answer-container .poll-answer-item {
    height: inherit;
    padding: 0;
    float: left; }
  .poll-answer-container .poll-answer-button {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    display: block;
    cursor: pointer;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .poll-answer-container .poll-answer-button .poll-answer-button-text {
      padding: 0 5px;
      display: block;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: center; }
  .poll-answer-container .poll-answer-button-right {
    width: 105px;
    height: 105px;
    float: left;
    margin-left: 20px; }
    .poll-answer-container .poll-answer-button-right .poll-answer-button {
      color: white;
      font-size: 16px;
      background-color: #33cd5f; }
      .poll-answer-container .poll-answer-button-right .poll-answer-button:active, .poll-answer-container .poll-answer-button-right .poll-answer-button:hover {
        background-color: #239042; }
  .poll-answer-container .poll-answer-button-left {
    width: 105px;
    height: 105px;
    float: right;
    margin-right: 20px; }
    .poll-answer-container .poll-answer-button-left .poll-answer-button {
      color: white;
      font-size: 16px;
      background-color: #387ef5; }
      .poll-answer-container .poll-answer-button-left .poll-answer-button:active, .poll-answer-container .poll-answer-button-left .poll-answer-button:hover {
        background-color: #0b59d6; }
  .poll-answer-container .poll-answer-button-skip {
    width: 54px;
    height: 54px;
    margin: 5px auto 10px; }
    .poll-answer-container .poll-answer-button-skip .poll-answer-button {
      color: #444;
      font-size: 14px;
      background-color: #f8f8f8;
      border: 1px solid #d2d2d2; }
      .poll-answer-container .poll-answer-button-skip .poll-answer-button:active, .poll-answer-container .poll-answer-button-skip .poll-answer-button:hover {
        background-color: #d2d2d2; }
  .poll-answer-container .poll-answer-button-flag {
    width: 27px;
    height: 27px;
    margin: 0 auto; }
    .poll-answer-container .poll-answer-button-flag .poll-answer-button {
      color: #ef473a;
      font-size: 18px;
      background-color: #fff;
      border: 1px solid #d9d9d9; }
      .poll-answer-container .poll-answer-button-flag .poll-answer-button:active, .poll-answer-container .poll-answer-button-flag .poll-answer-button:hover {
        border-color: #f79f98;
        background-color: #f79f98; }
