.text-muted {
  color: #999999; }

.text-center {
  text-align: center; }

.text-small {
  font-size: 0.9em; }

.content-full {
  height: 100%;
  position: relative; }

.full-page {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.vertical-center-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.break-word {
  word-wrap: break-word; }

.tally-nav-bar {
  border-color: #663399 !important;
  border-bottom-width: 2px; }
  .tally-nav-bar .tally-logo {
    height: 40px; }

.tally-side-logo {
  height: 40px;
  padding: 10px 0; }

.safe-height {
  height: 400px; }

.canvasjs-chart-credit {
  display: none !important; }

.center-table {
  margin: 0 auto;
  display: table; }

.quarter-width {
  width: 25%; }

.prevent-ghost-click {
  pointer-events: none; }

.card-stack {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.vote-card {
  height: 100%;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #c8c8c8;
  position: absolute; }

.poll-question-container {
  position: absolute;
  top: 0;
  bottom: 125px;
  width: 100%; }
  .poll-question-container .poll-question-content {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 100%; }
  .poll-question-container .poll-question {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-size: 24px;
    color: #663399;
    word-wrap: break-word;
    width: 100%;
    padding: 0 15px; }

.poll-answer-container {
  position: absolute;
  height: 125px;
  bottom: 0;
  width: 100%; }

.poll-answer-content {
  margin: 0 auto;
  display: table;
  height: inherit; }

.poll-answer-item {
  height: inherit;
  padding: 0;
  float: left; }

.poll-answer-button {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  display: block;
  cursor: pointer;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .poll-answer-button .poll-answer-button-text {
    padding: 0 5px;
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center; }

.poll-answer-button-right {
  width: 105px;
  height: 105px;
  float: left;
  margin-left: 20px; }
  .poll-answer-button-right .poll-answer-button {
    color: white;
    font-size: 16px;
    background-color: #117B70; }
    .poll-answer-button-right .poll-answer-button.active, .poll-answer-button-right .poll-answer-button.activated {
      background-color: #083832; }

.poll-answer-button-left {
  width: 105px;
  height: 105px;
  float: right;
  margin-right: 20px; }
  .poll-answer-button-left .poll-answer-button {
    color: white;
    font-size: 16px;
    background-color: #C6471C; }
    .poll-answer-button-left .poll-answer-button.active, .poll-answer-button-left .poll-answer-button.activated {
      background-color: #832f13; }

.poll-answer-button-skip {
  width: 54px;
  height: 54px;
  margin: 5px auto 10px; }
  .poll-answer-button-skip .poll-answer-button {
    color: #444;
    font-size: 14px;
    background-color: #f8f8f8;
    border: 1px solid #d2d2d2; }
    .poll-answer-button-skip .poll-answer-button.active, .poll-answer-button-skip .poll-answer-button.activated {
      background-color: #d2d2d2; }

.poll-answer-button-flag {
  width: 27px;
  height: 27px;
  margin: 0 auto; }
  .poll-answer-button-flag .poll-answer-button {
    color: #ef473a;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #d9d9d9; }
    .poll-answer-button-flag .poll-answer-button.active, .poll-answer-button-flag .poll-answer-button.activated {
      border-color: #f79f98;
      background-color: #f79f98; }

.intro-logo-container {
  position: absolute;
  top: 0;
  height: 50%;
  left: 20px;
  right: 20px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .intro-logo-container .logo {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 55%; }

.intro-description-container {
  position: absolute;
  top: 50%;
  bottom: 30px;
  left: 20px;
  right: 20px;
  text-align: center; }

.intro-description {
  font-size: 24px;
  margin-bottom: 15px; }
  .intro-description .small {
    padding-top: 20px;
    font-size: 18px; }

.help-title {
  position: absolute;
  top: 0;
  height: 10%;
  left: 20px;
  right: 20px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.help-answer-main {
  position: absolute;
  top: 10%;
  height: 32.5%;
  left: 20px;
  right: 20px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.help-answer-skip {
  position: absolute;
  top: 42.5%;
  height: 25%;
  left: 20px;
  right: 20px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.help-answer-flag {
  position: absolute;
  top: 67.5%;
  height: 15%;
  left: 20px;
  right: 20px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.help-footer {
  position: absolute;
  bottom: 0;
  height: 17.5%;
  left: 20px;
  right: 20px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
