.text-muted {
  color: #999999; }

.text-center {
  text-align: center; }

.text-small {
  font-size: 0.9em; }

.content-full {
  height: 100%;
  position: relative; }

.content-center-parent {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.content-center-parent-default {
  display: table;
  text-align: center;
  width: 100%;
  height: 400px;
  overflow: hidden; }

.content-center-child {
  display: table-cell;
  vertical-align: middle; }

.break-word {
  word-wrap: break-word; }

.card-stack {
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px; }

.vote-card {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 2px;
  border: 1px solid #c8c8c8; }

.vote-card-question {
  position: absolute;
  top: 0;
  height: 35%;
  width: 100%; }

.vote-card-action {
  position: absolute;
  top: 35%;
  bottom: 8%;
  width: 100%; }
  .vote-card-action .vote-card-button-row {
    padding: 0;
    height: 100%; }
  .vote-card-action .vote-card-button-col {
    padding: 0;
    height: 100%; }
  .vote-card-action .vote-card-button {
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
    line-height: 24px;
    word-wrap: break-word;
    padding: 0;
    position: relative; }
    .vote-card-action .vote-card-button .vote-card-button-text {
      position: absolute;
      top: 25%;
      left: 10px;
      right: 10px;
      padding: 5px; }
    .vote-card-action .vote-card-button .vote-card-button-icon {
      position: absolute;
      bottom: 25%;
      left: 10px;
      right: 10px; }

.vote-card-footer {
  position: absolute;
  top: 92%;
  height: 8%;
  width: 100%;
  border-top: 1px solid #c8c8c8; }
